.col-sm-6.col-md-5.col-md-offset-2
  .row
    .panel.panel-info
      .panel-heading.col-md-12
        %span.pull-left{:style => "font-size: 30px"}
          = @vacancy.title.humanize
        %span.pull-right
          %b.text-danger #{@vacancy.deadline}
        %br
        .clearfix
        .col-md-4
          %b Country:
          = link_to CS.countries[@vacancy.country.upcase.to_sym], vacancies_path(:country => @vacancy.country)
        .col-md-4
          %b City:
          = link_to @vacancy.city, vacancies_path(:city => @vacancy.city)
        .col-md-4
          %b Company:
          = link_to @vacancy.company.name, vacancies_path(:company_id => @vacancy.company.id)
      .panel-body
        = @vacancy.description
        - if @vacancy.users.any? && current_user.current?(@vacancy.company.user_id)
          %br/
          %h2.col-md-offset-3 Applied resumes
          %table.table
            %thead
              %tr
                %th #
                %th First Name
                %th Last Name
                %th Resume
            %tbody
            - @vacancy.users.each.with_index do |user, i|
              %tr
                %th #{i + 1}
                %td #{user.first_name}
                %td #{user.last_name}
                %td
                  = link_to "Download", download_resume_user_path(user)
      .panel-footer
        - if @vacancy.can_applly?(current_user)
          = form_tag attach_resume_vacancy_path, class: "navbar-form" do
            .form-group
              = file_field_tag "vacancy[file]", class: "form-control"
            = submit_tag "Send resume", class: "btn btn-default"
        -else
          .alert.alert-warning.fade.in
            You don't have rights to apply your resume

= render partial: 'shared/specialities', locals: {specialities: @specialities}


