.col-sm-6.col-md-5.col-md-offset-2
  .col-md-offset-2
    %span.pull-right
      = link_to edit_company_path(@company) do
        .glyphicon.glyphicon-pencil.text-danger
    %h1 #{@company.name}
    %p #{@company.description}

  - @vacancies.each do |vacancy|
    .panel.panel-info
      .panel-heading.col-md-12
        .panel-title
        %span.pull-left{:style => "font-size: 30px"}
          = link_to vacancy.title.humanize, vacancy
        - if vacancy.allow_to_close? current_user
          = link_to close_vacancy_path(vacancy, company_id: vacancy.company_id), method: :post do
            %span.pull-right.glyphicon.glyphicon-remove
        %span.pull-right{:style => "margin: 0 30px"}
          %b.text-danger #{vacancy.deadline}
        %br
        .clearfix
        .col-md-4
          %b Country:
          = link_to CS.countries[vacancy.country.upcase.to_sym], vacancies_path(:country => vacancy.country)
        .col-md-4
          %b City:
          = link_to vacancy.city, vacancies_path(:city => vacancy.city)
        .col-md-4
          %b Company:
          = link_to vacancy.company.name, @company
      .panel-body
  .col-md-8.col-md-offset-3
    = paginate @vacancies