!!!
%html
  %head
    %title The Job Find
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %span.navbar-brand The Job Find
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{:class => active_class(root_path)}
              = link_to "Home", root_path
            %li{:class => active_class(archived_vacancies_path)}
              = link_to "Archived Jobs", archived_vacancies_path
            %li
              = form_tag vacancies_path, method: :get, class: "navbar-form" do
                .form-group
                  = text_field_tag :search, params[:search], class: "form-control", placeholder: "Search"
                = submit_tag "Search", class: "btn btn-default"
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li.navbar-text
                %b Hello, #{current_user.role.to_s.humanize}!
              - if current_user.role? :employer
                %li
                  = link_to "My company", company_path(current_user.company)
                %li
                  = link_to "Post a vacancy", new_company_vacancy_path(:company_id => current_user.company.id)
              - else
                %li{:class => active_class(job_list_path)}
                  = link_to "Job List", job_list_path
              %li{:class => active_class(edit_user_registration_path(current_user))}
                = link_to "Settings", edit_user_registration_path(current_user)
              %li= link_to "Sign Out!", destroy_user_session_path, :method => :delete
            - else
              %li{:class => active_class(new_user_session_path)}
                = link_to "Sign In", new_user_session_path
              %li{:class => active_class(new_user_registration_path)}
                = link_to "Sign Up", new_user_registration_path
    .container-fluid
      .row
        .col-md-4.col-md-offset-3
          = render partial: "shared/flash_messages", flash: flash
        .col-md-12#main_content
          = yield